<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<!-- <welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list> -->
		<!-- 配置spring的文件名，默认未application.xml -->
	<context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring.xml</param-value>
    </context-param>
    <!-- 配置监听器 自动注册spring配置文件 -->
   <listener>
  		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  	</listener>

    <servlet>
        <servlet-name>spring</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!-- 不配置默认的话springmvc的配置文件名字应该是 spring-servlet.xml -->
        <init-param>  
            <param-name>contextConfigLocation</param-name>  
            <param-value>classpath:springmvc.xml</param-value>  
        </init-param> 
        <load-on-startup>1</load-on-startup>   
    </servlet>

    <servlet-mapping>
        <servlet-name>spring</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
	<error-page>
	    <error-code>404</error-code>
	    <location>/error/404.html</location>
	  </error-page>
	  

</web-app>